@charset "UTF-8";

* {
	margin: 0px;
	padding: 0px;
}

body {
	font-family: Arial, sans-serif;
	background-color: #f4f4f4;
	padding: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.main-container {
	
	background-color: white;
	padding: 25px 30px;
	border-radius: 8px;
	width: 400px;
	box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h2 {
	text-align: center;
	color: #333;
	margin-bottom: 20px;
}

label {
	font-weight: bold;
	margin-top: 10px;
	display: block;
}

input[type="text"] {
	width: 100%;
	padding: 8px 0px 8px 8px;
	margin-top: 5px;
	margin-bottom: 15px;
	border: 1px solid #ccc;
	border-radius: 6px;
}

input[type="submit"] {
	width: 100%;
	padding: 10px;
	background-color: #007bff;
	color: white;
	font-size: 16px;
	border: none;
	border-radius: 6px;
	cursor: pointer;
}

input[type="submit"]:hover {
	background-color: #0056b3;
}